{% extends 'base.html' %}
{% block title %}After Registration{% endblock %}

{% block content %}
<h2>Home Page</h2>
<h4>Name is {{movie.title}}</h4><br><br><br>

<p style='color:forestgreen'>Movie Registration is Successfull</p><br><br><br><br><br><br>

<a href="{% url 'index' %}">Home</a>
{% endblock %}