<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>       
        {% block title %}
        <h1><b>Django Movie Register</b></h1>
        {% endblock %}
    </title>
</head>
<body>
    <div class=container>
        <div class="jumbotron">
    <h1><b> Movie Registaration </b></h1>
    <hr>
    <main>       
        {% block content %}
        {% endblock %}
        </div>
    </main>  
</body>
<hr>
<footer>
    <a href="https://docs.djangoproject.com"><h4>Django.com</h4></a>
</footer>
</div>
</html>