{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

<body>
    {% block content %}
    <h2>Index Page</h2><br><br><br>
    {% if error_message %} <p> {{ error_message }} </p>{% endif %}
    <a href="{% url 'register' %}">Register</a>
    {% endblock %}
</body>