{% extends "base.html" %}

{% block title %}
Homa Page
{% endblock %}

    {% block content %}
    <h2>Movie Page</h2>
    <form method='' action=''>
        {% csrf_token %}
        
        <label for='{{ forms.title.id_for_label }}'>Title</label>
        <input type="text" id="{{ forms.title.id_for_label }}" name="title">
        {{ forms.title.error }}

        <label for='{{ forms.year.id_for_label }}'>Year</label>
        <input type="text" id="{{ forms.year.id_for_label }}" name="year">
        {{ forms.year.error }}

        <label for='{{ forms.director.id_for_label }}'>Director</label>
        <input type="text" id="{{ forms.director.id_for_label }}" name="director">
        {{ forms.director.error }}
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    {% endblock %}